* {
    box-sizing: border-box;
}

body {
  font-family: sans-serif; 
  font-size: 20px;
  background-color: #B3D9FF;
  color: #800000;
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
}

nav {
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #787878;
  color: #ffffff;
}

header{
  padding: 70px;
  /* background-color: #bbb; */
}

header h1{
  margin-bottom: 0px;
}

header p{
  margin-top: 0px;
  font-size: 16px;
}

section {
  min-height: 200px;
  padding: 30px;
  /* background-color: #bbb; */
}

/* section:nth-child(even) {
  background-color: #ddd;
} */