* {
    box-sizing: border-box;
}

body {
  font-family: sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav {
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #aaa
}

header{
  padding: 70px;
}

section {
  min-height: 200px;
  padding: 30px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}